[submodule "src/modules/mavlink/mavlink"]
	path = src/modules/mavlink/mavlink
	url = https://github.com/mavlink/mavlink.git
	branch = master

[submodule "platforms/nuttx/NuttX/nuttx"]
	path = platforms/nuttx/NuttX/nuttx
	url = https://github.com/nguyentri/nuttx.git
	branch = master

[submodule "platforms/nuttx/NuttX/apps"]
	path = platforms/nuttx/NuttX/apps
	url = https://github.com/PX4/NuttX-apps.git
	branch = px4_firmware_nuttx-10.3.0+

[submodule "src/lib/events/libevents"]
	path = src/lib/events/libevents
	url = https://github.com/mavlink/libevents.git
	branch = main

[submodule "src/lib/heatshrink/heatshrink"]
	path = src/lib/heatshrink/heatshrink
	url = https://github.com/PX4/heatshrink.git
	branch = px4

[submodule "src/modules/uxrce_dds_client/Micro-XRCE-DDS-Client"]
	path = src/modules/uxrce_dds_client/Micro-XRCE-DDS-Client
	url = https://github.com/PX4/Micro-XRCE-DDS-Client.git
	branch = px4

[submodule "src/drivers/gps/devices"]
	path = src/drivers/gps/devices
	url = https://github.com/PX4/PX4-GPSDrivers.git
	branch = main

[submodule "src/drivers/uavcan/libdronecan/dsdl"]
	path = src/drivers/uavcan/libdronecan/dsdl
	url = https://github.com/PX4/DSDL.git

[submodule "src/drivers/uavcan/libdronecan/libuavcan/dsdl_compiler/pydronecan"]
	path = src/drivers/uavcan/libdronecan/libuavcan/dsdl_compiler/pydronecan
	url = https://github.com/dronecan/pydronecan
