CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="evk-ra8p1-io-cm33"
CONFIG_ARCH_BOARD_EVK_RA8P1_IO_CM33=y
CONFIG_ARCH_CHIP="ra8"
CONFIG_ARCH_CHIP_RA8P1=y
CONFIG_ARCH_ARMV8M=y
CONFIG_ARCH_CORTEXM33=y
CONFIG_ARCH_FAMILY="arm"
CONFIG_ARCH_FAMILY_ARMV8M=y

CONFIG_RAM_START=0x20110000
CONFIG_RAM_SIZE=65536

CONFIG_BUILTIN=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILE_APPS=y

CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_LPWORK=y

# Drivers
CONFIG_RA8_GPT=y
CONFIG_RA8_ADC=y
CONFIG_RA8_GPIO=y
CONFIG_RA8_SCI=y
CONFIG_RA8_DMAC=y

# PX4IO IPC App
CONFIG_PX4IO_IPC=y
CONFIG_PX4IO_IPC_PRIORITY=100
CONFIG_PX4IO_IPC_STACKSIZE=2048

# System Logging
CONFIG_SYSLOG_CONSOLE=y

# Shell
CONFIG_NSH_LIBRARY=y
CONFIG_NSH_READLINE=y
